@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #FDF6EA !important;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0px !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

/*
.navbar-brand {
  font-size: 2rem;
}
*/