    <% if notice %>
      <div class = "notice alert-info">
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class = "alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
    