    <% if notice %>
      <p>
        <div class = "alert alert-info">
          <%= notice %>
        </div>
      </p>
    <% end %>
    
    <% if alert %>
      <p>
        <div class = "alert alert-danger">
          <%= alert %>
        </div>
      </p>
    <% end %>
    